@model TeamMaddog.Models.Product

@{
    ViewBag.Title = "AddCartItems";
}

<h2>AddCartItems</h2>

<a href='@Html.ActionLink("AddCartItems", "Cart", new { name = "Sweatshirt"}, null)'>
    <img src="~/Content/Images/sweatshirt.jpg" />
</a>

<a href='@Html.ActionLink("AddCartItems", "Cart", new { name = "Sweatshirt" }, null)'>
    <img src="~/Content/Images/sweatshirt.jpg" />
</a>

<a href='@Html.ActionLink("AddCartItems", "Cart", new { name = "Sweatshirt" }, null)'>
    <img src="~/Content/Images/sweatshirt.jpg" />
</a>

<a href='@Html.ActionLink("AddCartItems", "Cart", new { name = "Sweatshirt" }, null)'>
    <img src="~/Content/Images/sweatshirt.jpg" />
</a>

<a href='@Html.ActionLink("AddCartItems", "Cart", new { name = "Sweatshirt" }, null)'>
    <img src="~/Content/Images/sweatshirt.jpg" />
</a>

<a href='@Html.ActionLink("AddCartItems", "Cart", new { name = "Sweatshirt" }, null)'>
    <img src="~/Content/Images/sweatshirt.jpg" />
</a>

