@model TeamMaddog.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<img src="~/Content/Images/@{@Model.ProdName}.JPG" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.ProdName)</b>
            @Html.DisplayFor(model => model.ProdName)
        </div>

        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.ProdPrice)</b>
            @Html.DisplayFor(model => model.ProdPrice)
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <b>@Html.DisplayNameFor(model => model.ProdSize)</b>
                @Html.DropDownListFor(model => model.ProdSize, new SelectList(ViewBag.Cart))
                @Html.ValidationMessageFor(model => model.ProdSize, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}
