@model IEnumerable<TeamMaddog.Models.Cart>

@{
    ViewBag.Title = "ShowCartItems";
}

<h2>Show Cart Items</h2>

<p>
    @Html.ActionLink("Add Another Item", "AddCartItems")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CartNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingMethod)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.TheProducts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProdName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdPrice)
        </td>
        <td>

            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
